

/*------------------------------------------
    EMPLOIS
------------------------------------------*/

#emplois {
  padding: 20px;
  margin-top: 20px;
}

#emplois h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.offre-emploi {
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  
}
  

.offre-emploi h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.offre-emploi p {
  margin-bottom: 5px;
}