/*#emplois {
  padding: 20px;
  margin-top: 20px;
}

#emplois h2 {
  font-size: 24px;
  margin-bottom: 10px;
}*/

.colonne-gauche {
    width: 45%;
    float: left;
    text-align: center;
    
  }
  
.colonne-droite {
  width: 45%;
  float: right;
}

.offre-emploi,
.offre-emploi2 {
  margin-bottom: 12px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;

}

.offre-emploi h3,
.offre-emploi2 h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.offre-emploi p,
.offre-emploi2 p {
  margin-bottom: 5px;
  font-size: 15px;
}

.offre-emploi:hover{
  background-color: #306e78;
  color: white;
}

h1 {
  text-align: center;
  margin-left: 5%;
}

.offre-emploi-categorie h2, p {
  text-align: center;
  margin-left: 5%;
}

.bouton {
  margin-top: 10%;

  margin-left: 15%;
  background-color: #306e78; /* Exemple de couleur de fond */
  color: #fff; /* Exemple de couleur de texte */
  font-size: 16px; /* Exemple de taille de police */
  /*Augmenter la taille du bouton*/
  padding: 10px 20px;
  border-radius: 5px;
}


.bouton:hover {
  background-color: green;
}

.test{
  margin-right: 50px;
}