

/*------------------------------------------
    RESEAU
------------------------------------------*/

  
#abonnements h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    
}
  
.profil-abonnement {
    margin-bottom: 2em;
    margin-left: 8em;
    margin-right: 8em;
    border: 0.1em solid #a1d3db;
    border-radius: 5px;
    background-color: #d5ebef;
    text-align: center;
    padding-bottom: 1em;
}

.profil-abonnement img {
    width: 4em;
    height: 4em;
    border-radius: 50px;
    display: inline-block; 
    vertical-align: middle;
    border: #a1d3db 2px solid;
    margin-right: 2em; 
}

.profil-abonnement h3 {
    font-size: 1em;
    margin-bottom: 0.5em;
}
  
.profil-abonnement p {
    display: inline-block; /* Ajoutez cette ligne pour aligner le paragraphe à côté de l'image */
}

#recommandations h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  
.ami {
  margin-bottom: 2em;
  margin-left: 8em;
  margin-right: 8em;
  border: 0.1em solid #d7efdd;
  border-radius: 5px;
  background-color: #c0e0c8;
  text-align: center;
  padding-bottom: 1em;
}

.ami img {
  width: 4em;
  height: 4em;
  border-radius: 50px;
  display: inline-block;
  vertical-align: middle;
  border: #d7efdd 2px solid;
  margin-right: 2em;
}

.ami h3 {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.ami p {
  display: inline-block;
}


.profil-moi {
  margin-bottom: 2em;
  margin-left: 7em;
  margin-right: 7em;
  border: 0.1em solid #306E78;
  border-radius: 5px;
  background-color: #306E78;
  text-align: center;
  padding-bottom: 1em;
  color:white;
}

.profil-moi img {
  width: 4em;
  height: 4em;
  border-radius: 50px;
  display: inline-block; 
  vertical-align: middle; 
  margin-right: 2em; 
  border: #ffffff 2px solid;
}

.profil-moi h3 {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.profil-moi p {
  display: inline-block; /* Ajoutez cette ligne pour aligner le paragraphe à côté de l'image */
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #306E78;
  text-align: center;
}